.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    text-align: center;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;        
        flex-wrap: wrap;
        margin-bottom: $s-size;
        justify-content: space-between;
    }
    
}

.input-group__item {
    
    @media (min-width: $desktop-breakpoint) {    
        margin: 0 $s-size 0 0;
    }
}